{erl_opts, [debug_info]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}}
]}.

{plugins, [
  {rebar3_lfe, {git, "https://github.com/lfe/rebar3_lfe", {branch, "main"}}}
]}.

{relx, [{release, {'rebar3-lfe-otp-release', "0.1.0"},
         ['rebar3-lfe-otp-release',
          lfe,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
