{erl_opts, [debug_info]}.

{lfe_first_files, []}.

{deps, [
  {exemplar, {git, "https://github.com/lfex/exemplar", {branch, "release/0.6.x"}}},
  {lanes, {git, "https://github.com/lfex/lanes", {branch, "main"}}}
  ]}.

{plugins, [
  {rebar3_lfe, {git, "https://github.com/lfe-rebar3/rebar3_lfe", {branch, "main"}}}
  ]}.

{provider_hooks, [{pre, [{compile, {lfe, compile}}]}]}.

{profiles, [
  {dev, [

    ]}
  ]}.
