[
  {'nova_rest_lfe', [
    {ets, [
      {'table-name', pet},
      {options, [public, named_table]}
    ]}
  ]},
  {kernel, [
      {logger, [
          {handler, default, logger_std_h,
          #{formatter => {logjam, #{
              colored => true,
              time_designator => $\s,
              time_offset => "",
              time_unit => second,
              strip_tz => true,
              level_capitalize => true
            }}}
          }
      ]},
      {logger_level, debug}
  ]},
  {nova, [
    {cowboy_configuration, #{port => 11111}},
    {dev_mode, true},
    {bootstrap_application, nova_rest_lfe}, %% Bootstraps the application
    %% Plugins is written on form {RequestType, Module, Options, Priority}
    %% Priority is that the lowest number is executed first
    {plugins, [
      {pre_http_request, nova_correlation_plugin, #{}, 0},
      {pre_http_request, nova_cors_plugin, #{}, 2},
      {pre_http_request, nova_request_plugin, #{decode_json_body => true, parse_bindings => true}, 10}
    ]}
  ]}
].
