# Erlang
.eunit
*.o
*.beam
*.plt
erl_crash.dump
.concrete/DEV_MODE
test/*.beam

# rebar 2.x
.rebar
rel/example_project
ebin/*.beam
deps

# rebar 3
.rebar3
_build/
_checkouts/
rebar.lock
rebar3.crashdump

# Emacs
*~
\#*\#
.\#*

# Vim
*.swp
*.swo

# LFE-Nova
apps/nova_rest_lfe/priv/*.routes.erl
