{erl_opts, [no_debug_info]}.

{deps, [
  {lfe, {git, "http://github.com/rvirding/lfe", {branch, "develop"}}}
]}.

{plugins, [
  {rebar3_lfe, {git, "https://github.com/lfe/rebar3_lfe", {branch, "main"}}}
]}.

{escript_incl_apps, [lfe, 'sound-of-lfe']}.
{escript_main_app, 'sound-of-lfe'}.
{escript_name, 'sound-of-lfe'}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.
